.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #80ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
.mobile-nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
}
.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 100%;
  background: #80ffff;
  padding: 40px 20px 20px;
  border-radius: 10px;
  text-align: center;
}
.popup-title {
  color: black;
}
.left-icons {
  display: flex;
  gap: 10px;
}
.selected-level {
  background-color: rgb(73, 251, 73) !important;
}

.close-icon {
  position: absolute;
  bottom: 32rem;
  left: 50rem;
  font-size: 24px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease;
  user-select: none;
}

.close-icon:hover {
  transform: scale(1.2);
}

.popup-content h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.popup-content button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.popup-content button:not(.start-button) {
  background-color: #004d66;
  color: white;
}

.start-button {
  background-color: #b3aaaa;
  color: white;
}

.start-button:hover {
  background-color: #a89f9f;
}

.start-button:disabled {
  background-color: #726d6d;
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
